@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;0,900;1,600&display=swap');
@font-face{
    font-family:'digital-clock-font';
    src: url('/fonts/digital-7.ttf');
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 55%;
}

body {
    font-family: "Nunito Sans", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
}



.app {
    width: fit-content;
    height: fit-content;
    padding: 30px;
    border-radius: 10px;
    background-color: #e6e7ee;
}

@media only screen and (min-width: 700px) {
    #root {
        background-color: #e6e7ee;
    }

    .app {
        box-shadow: 12px 12px 24px #b8b9be,-12px -12px 24px #fff!important;
    }

    html {
        font-size: 62.5%;
    }
}

.calculator {
    margin-top: 20px;
    display: grid;
    grid-template-rows: minmax(80px, auto) minmax(80px, auto) repeat(5, 70px);
    grid-template-columns: repeat(4, 70px);
    column-gap: 10px;
    row-gap: 10px;
    width: fit-content;
    justify-items: stretch;
    grid-template-areas: 
        "Disp Disp Disp Disp"
        "Disp Disp Disp Disp"
        "AC AC CE divide"
        "seven eight nine multiplication"
        "four five six minus"
        "one two three plus"
        "zero dot-b equals plus";
    text-align: center;

    .display {
        grid-area: Disp;
        font-family: "digital-clock-font";
        font-size: 2.5rem;
        font-weight: 400;
        text-align: right;
        margin-bottom: 15px;
        border-radius: 3px;
        border: 1px solid #e6e7ee;
        box-shadow: inset .5px .5px 1.25px #b8b9be,inset -.5px -.5px 1.25px #fff!important;
        cursor: default;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        color: #777880;
        background-color: #e6e7ee;
        letter-spacing: .025em;
        padding: .55rem .95rem;

        &:active {
            box-shadow: inset 1px 1px 2.5px #b8b9be, inset -1px -1px 2.5px #fff;
            font-size: 1.9rem;
        }
    }

    .calculator__calc-button--ce-button {
        grid-area: CE;
    }

    .calculator__calc-button--ac-button {
        grid-area: AC;
    }

    .calculator__calc-button--divide-button {
        grid-area: divide;
    }

    .calculator__calc-button--multiply-button {
        grid-area: multiplication;
    }

    .calculator__calc-button--minus-button {
        grid-area: minus;
    }

    .calculator__calc-button--plus-button {
        grid-area: plus;
    }

    .calculator__calc-button--dot-button {
        grid-area: dot-b;
    }

    .calculator__calc-button--equals-button {
        grid-area: equals;
    }

    .calculator__calc-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #777880;
        background-color: #e6e7ee;
        transition: all .2s ease;
        letter-spacing: .025em;
        font-size: 2rem;
        border: 1px solid #dddee775;
        box-shadow: 1.5px 1.5px 3px #b8b9beb9, -1.5px -1.5px 3px rgba(255, 255, 255, 0.726);
        font-weight: 600;
        vertical-align: middle;
        padding: .55rem .95rem;
        line-height: 1.5;
        border-radius: .55rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:active {
            box-shadow: inset 1px 1px 2.5px #b8b9be, inset -1px -1px 2.5px #fff;
            font-size: 1.9rem;
        }
    }

    .calculator__calc-button:not(.display) {
        background: linear-gradient(-45deg, rgba(0,0,0,0.02), rgba(255,255,255,0.02))
    }

}

.display__setting-indicator {
    line-height: 1;
    font-size: 2.25rem;
    word-break: break-all;
}

.display__result {
    line-height: 1;
    word-break: break-all;
    font-size: 4rem;
}

